<div class="w-full bg-green-light border-r-2 border-black">
  <div class="float-right bg-black text-white p-3">
    <span class="custom-font"> NOTES </span>
  </div>
  <div class="clearfix"></div>

  <div class="mt-4 pl-2">
    <% if @notes.any? %>
      <%= render @notes %>
    <% else %>
      <div class="text-center">
        <span class="custom-font"> NOTHING FOUND! </span>
      </div>
    <% end %>
  </div>
</div>

<div class="w-full bg-indigo border-l-2 border-black">
  <div class="float-left bg-black text-white p-3">
    <span class="custom-font"> TODOS </span>
  </div>
  <div class="clearfix"></div>

  <!-- <%= render "todos", todos: @todos %> -->
</div>