<div class="#{dom_id(note)} max-w-md mb-4 float-right border-t-2 border-l-2 border-b-2 border-black p-4 bg-yellow-dark">
  <div>
    <span class="custom-font text-sm leading-loose">
      <%= note.description %>
    </span>
  </div>

  <div class="mt-2 text-right">
    <small class="custom-font text-xs">
      &#128467;
      <%= format_date(note.created_at) %>
    </small>
  </div>

  <div class="mt-2 text-right">
    <%= link_to "remove", note_path(note), method: :delete, class: "text-red-dark text-xs custom-font", data: { confirm: "Is this not important anymore?" } %>
  </div>
</div>

<div class="clearfix"></div>
