<% if sorted_events.fetch(day, []).empty? %>
  <span class="uppercase custom-font text-xs"> no events found </span>
<% else %>
  <% sorted_events.fetch(day, []).each do |event| %>
    <%= render 'simple_calendar/event', event: event %>
  <% end %>
<% end %>
