<% events = sorted_events.fetch(day, []) %>

<% if events.empty? %>
  <span class="uppercase custom-font text-xs"> no events found </span>
<% else %>
  <% events.each do |event| %>
    <%= render 'simple_calendar/event', event: event %>
  <% end %>
<% end %>
