<%= render 'simple_calendar/calendar_heading', calendar: calendar, start_date: start_date %>

<div class="flex overflow-x-scroll h-screen">
  <% date_range.slice(0, 7).each do |day| %>
    <div class="flex-1 border-4 border-black py-4">
      <%= render 'simple_calendar/day_heading', day: day %>

      <div class="text-center">
        <%= render 'simple_calendar/events_list', sorted_events: sorted_events, day: day %>
      </div>
    </div>
  <% end %>
</div>
