<div class="#{dom_id(todo)} max-w-md mb-4 float-left border-t-2 border-r-2 border-b-2 border-black p-4 bg-teal-dark text-yellow-lightest">
  <div>
    <span class="uppercase custom-font font-bold text-black leading-loose">
      <%= todo.description %>
    </span>
  </div>

  <div class="mt-3 ml-5">
    <% todo.action_items.each do |item| %>
      <div class="ml-4 mb-2">
        <span class="text-black font-bold custom-font text-xs">
          &gt;
        </span>
        <span class="custom-font text-xs"> <%= item.description %> </span>
      </div>
    <% end %>
  </div>

  <div class="flex mt-4 float-right">
    <%= link_to "edit", edit_todo_path(todo), class: "mr-2 text-black text-xs custom-font" %>
    <%= link_to "remove", todo_path(todo), method: :delete, class: "text-red-darker text-xs custom-font", data: { confirm: "Are you not going to do this anymore?" } %>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
